.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  width: 150px;
  border: 10px solid lightgray;
  border-radius: 150px;
  background-color: transparent;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  position: relative;
  display: block;
}

.App-logo:after {
  content: "";
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 10px solid blue;
  clip-path: polygon(0% 0%, 100% 200%, 0% 100%);
  transform: translate(-85px, -10px);
  clip-path: polygon(0% 0, 100% 100%, 0, 100%);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
